body {
    background-color: rgb(253, 253, 253);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(248, 232, 212);
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}

li {
    float: left;
    display: block;
    padding: 10px;
}

li:hover {
    cursor: pointer;
    background-color: rgb(251, 215, 171);
}

#maincontent {
    /* border: 1px solid transparent; */
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
}

#footer {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:  30px;;
}

#gallery {
    border: 1px solid transparent;
}

.galleryitem {
    /* border: 1px solid rgb(215, 215, 215); */
    width: 300px;
    height: 300px;
    float: left;
    margin: 20px;
}

.galleryitem img {
    width: 100%;
    height: 200px;

}

.galleryitem p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(149, 149, 149);
    display: none;
}

/* .galleryitem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
} */

.galleryitem img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.galleryitem:hover p {
    display: block;
    transition: display 0.3s;
}